<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p class="tyt"><span (click) ="menu();">Menu</span> > <span>Fireware Manager</span> > <span (click)="dash();">Dashboard</span> > <span>Customer Ashok Leyland</span></p>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>

<div class="container-fluid mainpg">
    <div class="row">
        <div class="col-sm-6 col-lg-4" >
            <mat-card class="imgs" >
              
                <p class="btn">Total Number Of Devices</p>
                  <div class="gray">
                   <h3>{{totalData?.TotalDeviceCount}}</h3>
                   <p>Devices Count</p>
                     
                  </div>

                  <div class="container-fluid ">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-lg-4 cleft">
                          
                                <h3>{{dataofTAP66?.TotalDeviceCount}}</h3>
                                <p>TAP66</p>
                          
                        </div>
                        <div class="col-xs-4 col-sm-4 col-lg-4 cleft">
                          
                            <h3>{{dataofTAP76?.TotalDeviceCount}}</h3>
                            <p>TAP76</p>
                      
                         </div>
                        <div class="col-xs-4 col-sm-4 col-lg-4">
                            <div class="cright">
                                <h3>{{dataofSNM476?.TotalDeviceCount}}</h3>
                                <p>SNM476</p>
                            </div>
                        </div>

                    </div>
                </div> 
            </mat-card>
             
        </div>
        <div class="col-sm-6 col-lg-4" >
            <mat-card class="imgs" >
             
                <p class="btn">Reporting Status</p>
                  <div class="gray">
                   <h3>{{totalData?.ReportingCount}}</h3>
                   <p>Devices Count</p>
                     
                  </div>
                  <div class="container-fluid ">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-lg-4 cleft">
                          
                                <h3>{{dataofTAP66?.ReportingCount}}</h3>
                                <p>TAP66</p>
                          
                        </div>
                        <div class="col-xs-4 col-sm-4 col-lg-4 cleft">
                          
                            <h3>{{dataofTAP76?.ReportingCount}}</h3>
                            <p>TAP76</p>
                      
                         </div>
                        <div class="col-xs-4 col-sm-4 col-lg-4">
                            <div class="cright">
                                <h3>{{dataofSNM476?.ReportingCount}}</h3>
                                <p>SNM476</p>
                            </div>
                        </div>

                    </div>
                </div> 
            </mat-card>
             
        </div>
        <div class="col-sm-6 col-lg-4" >
            <mat-card class="imgs" >
             
                <p class="btn">Active Packet Status</p>
                  <div class="gray">
                   <h3>{{totalData?.PacketACount}}</h3>
                   <p>Devices Count</p>

                  </div>

                  <div class="container-fluid ">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-lg-4 cleft">
                          
                                <h3>{{dataofTAP66?.PacketACount}}</h3>
                                <p>TAP66</p>
                          
                        </div>
                        <div class="col-xs-4 col-sm-4 col-lg-4 cleft">
                          
                            <h3>{{dataofTAP76?.PacketACount}}</h3>
                            <p>TAP76</p>
                      
                         </div>
                        <div class="col-xs-4 col-sm-4 col-lg-4">
                            <div class="cright">
                                <h3>{{dataofSNM476?.PacketACount}}</h3>
                                <p>SNM476</p>
                            </div>
                        </div>

                    </div>
                </div> 
            </mat-card>
             
        </div>

        <div class="col-sm-6 col-lg-4" >
            <mat-card class="imgs" >
              
                <p class="btn">Invalid Packet Status</p>
                  <div class="gray">
                   <h3>{{totalData?.PacketVCount}}</h3>
                   <p>Devices Count</p>
                     
                  </div>

                  <div class="container-fluid ">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-lg-4 cleft">
                          
                                <h3>{{dataofTAP66?.PacketVCount}}</h3>
                                <p>TAP66</p>
                          
                        </div>
                        <div class="col-xs-4 col-sm-4 col-lg-4 cleft">
                          
                            <h3>{{dataofTAP76?.PacketVCount}}</h3>
                            <p>TAP76</p>
                      
                         </div>
                        <div class="col-xs-4 col-sm-4 col-lg-4">
                            <div class="cright">
                                <h3>{{dataofSNM476?.PacketVCount}}</h3>
                                <p>SNM476</p>
                            </div>
                        </div>

                    </div>
                </div> 
            </mat-card>
             
        </div> 

        <div class="col-sm-6 col-lg-4" >
            <mat-card class="imgs" >
              
                <p class="btn">48 Hrs > NRD > 24 Hrs</p>
                  <div class="gray">
                   <h3>{{totalData?.NRDCount}}</h3>
                   <p>Devices Count</p>
                     
                  </div>

                  <div class="container-fluid ">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-lg-4 cleft">
                          
                                <h3>{{dataofTAP66?.NRDCount}}</h3>
                                <p>TAP66</p>
                          
                        </div>
                        <div class="col-xs-4 col-sm-4 col-lg-4 cleft">
                          
                            <h3>{{dataofTAP76?.NRDCount}}</h3>
                            <p>TAP76</p>
                      
                         </div>
                        <div class="col-xs-4 col-sm-4 col-lg-4">
                            <div class="cright">
                                <h3>{{dataofSNM476?.NRDCount}}</h3>
                                <p>SNM476</p>
                            </div>
                        </div>

                    </div>
                </div> 
            </mat-card>
             
        </div>
        <div class="col-sm-6 col-lg-4" >
            <mat-card class="imgs" >
             
                <p class="btn">NRD > 48 Hrs</p>
                  <div class="gray">
                   <h3>{{totalData?.NDCount}}</h3>
                   <p>Devices Count</p>
                     
                  </div>

                  <div class="container-fluid ">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-lg-4 cleft">
                          
                                <h3>{{dataofTAP66?.NDCount}}</h3>
                                <p>TAP66</p>
                          
                        </div>
                        <div class="col-xs-4 col-sm-4 col-lg-4 cleft">
                          
                            <h3>{{dataofTAP76?.NDCount}}</h3>
                            <p>TAP76</p>
                      
                         </div>
                        <div class="col-xs-4 col-sm-4 col-lg-4">
                            <div class="cright">
                                <h3>{{dataofSNM476?.NDCount}}</h3>
                                <p>SNM476</p>
                            </div>
                        </div>

                    </div>
                </div> 
            </mat-card>
             
        </div>

      
        
    </div>
</div>